html {
    background-color: #10131c;
    font-family: "Leelawadee UI Semilight", serif;
    background: -webkit-gradient(linear, left top, left bottom, from(#10131c), to(#759685)) no-repeat fixed;
}

h3{
    margin-top: 1.80em;
}

.btn-link {
    color: whitesmoke;
    text-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.35);
    font-weight: bold;
    background-color: transparent;
    border-color: transparent;
    font-family: "Leelawadee UI Semilight", serif;
    box-shadow: none;
    border-radius: 0;
    cursor: pointer;
    margin-top: -10px;
}

.btn-link:hover {
    color: orange;
}

input[name="choice"] {
    font-size: 24px;
    font-family: "Leelawadee UI Semilight", serif;
    color: whitesmoke;
    border-radius: 3px;
    border: 3px solid #181a27;
    background-color: #181a27;
    text-align: center;
    cursor: pointer;
    padding: 0 5%;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.35);
}

label[id=title] {
    display: block;
    color: whitesmoke;
    text-align: center;
    line-height: 150%;
    font-size: 50px;
    font-family: "Leelawadee UI Semilight", serif;
}

label[id=content] {
    display: block;
    color: whitesmoke;
    text-align: left;
    line-height: 130%;
    font-size: 18px;
    font-family: "Leelawadee UI Semilight", serif;
    padding-left: 200px;
    padding-right: 200px;
}

label[id=footnote] {
    display: block;
    color: black;
    text-align: left;
    line-height: 130%;
    font-size: 14px;
    font-family: "Leelawadee UI Semilight", serif;
}

input[name="choice"]:hover {
    border: 3px solid orange;
}

img[alt="logo-collab"] {
    padding: 0 100px;
}

img[alt="logo-uniba"] {
    padding: 0 100px;
}

footer {
    font-style: normal;
    color: whitesmoke;
    margin-top: 1cm;
    padding: 20px 0;
    height: 180px;
    display: block;
    box-sizing: border-box;
    font-family: "Leelawadee UI Semilight", sans-serif;
}

.outer > div {
    margin: 2px;
    background-color: #181a27;
    width: 100%;

}

.outer {
    display: flex;
    justify-content: center;
    padding: 3px;
    text-align: center;
    height: 100%;
}

img[alt="logo-collab-footer"] {
    padding: 0 20px;
}
