
h1 {
    padding-top: 1.5cm;
    padding-left: 0.5cm;
    color: whitesmoke;
}

h2 {
    padding-top: 0.2cm;
    padding-left: 0.5cm;
    color: whitesmoke;
}

p {
    color: whitesmoke;
    margin-top: -0.2cm;
    padding-right: 1.5cm;
    padding-left: 0.5cm;
}




