<html xmlns:button="http://www.w3.org/1999/html" lang="en">
<head title="mini-IPIP test">
    <meta charset="UTF-8">
    <link href="../../static/miniipip/css/common.css" rel="stylesheet" type="text/css">
    {% load static %}
    <title>mini-IPIP test</title>
    <link rel="shortcut icon" href="{% static "miniipip/images/favicon.ico" %}"/>
    <a href="http://collab.di.uniba.it/"><img src="{% static "miniipip/images/logo-collab.png" %}" alt="logo-collab" height="75px"
                                              width="200px"></a>
    <a href="https://www.uniba.it/"><img src="{% static "miniipip/images/logo-uniba.png" %}"
                                         alt="logo-uniba" height="75px" width="200px" align="right"></a>
    <p></p>
    <label id="title">Welcome to the mini-IPIP test </label>
    <p></p>
</head>
<body>
<label id="content">
    <p>This test measures your <b>Big Five</b> personality [1]. The Big Five is one of the most popular scientific
        measures of personality.</p>
    <p>You will be presented with 20 statements, one at a time, and you will be asked to evaluate the extent to which
        you agree with them on a 5-point scale [<i>Strongly Disagree</i> = 1, ..., <i>Strongly Agree</i> = 5]. You may
        go back
        and change a previous answer, but you cannot skip forward. Please, answer honestly with regard to how you see
        yourself in the present moment,
        not how you would like to be in the future. Also, keep in mind that there are no incorrect answers nor any
        personality profile that is better than another.
    </p>
    <p>
        Only completed survey answers will be stored. Upon test completion, you will receive by email a copy of you
        personality score or you can save the result page locally.
    </p>
    <br>
    The test duration is about 3-5 minutes. Click the button below to start.<br><br><br>
</label>
<div align="center">
    <input type="button" name="choice"
           onclick="location.href='../../miniipip/test?id={{ user }}&page={{ 1 }}'" value="START TEST"/>
</div>
<br><br>
<label id="footnote">
    <p><b>References</b></p>
    [1] Donnellan, M.B., Oswald, F.L., Baird, B.M., & Lucas, R.E. (2006). <b>The mini-IPIP scales: Tiny-yet-effective
    measures of the Big Five factors of personality</b>.
    <i>Psychological Assessment</i>, 18, 192-203
</label>
</body>
<footer>
    <div class="outer">
        <div>
            {% load static %}
            <a href="http://collab.di.uniba.it/"><img src="{% static "miniipip/images/logo-collab.png" %}"
                                                      alt="logo-collab-footer" height="75px" width="200px"></a>
            <br><strong>Collaborative Development Group</strong><br><br>Department of Computer Science
            <br>University of Bari<br>Italy<br>
        </div>
        <div>
            <h2>Contact us</h2>
            <form action="mailto:collab-uniba@gmail.com?subject=Mini-IPIP test">
                <button class="btn-link" value="send-email" name="send-email" type="submit">Send an email</button>
                </form>
            <form onclick="location.href='/privacy'">
                <button class="btn btn-link" value="privacy" name="privacy" type="button">Site Privacy</button>
            </form>
        </div>
    </div>
</footer>
</html>
