<html lang="en">
<head><title>mini-IPIP test</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static "miniipip/images/favicon.ico" %}"/>
    <link href="../../static/miniipip/css/common.css" rel="stylesheet" type="text/css">
    <link href="../../static/miniipip/css/test_.css" rel="stylesheet" type="text/css">
</head>
{% for question in questions %}
    <div id="content">
    <h1 align="center" id="header"> {{ question.question_text }} </h1>
        </div>
           <form action="{% url 'miniipip:vote' id=user question_id=question.id page=page%}" method="post">
           <p></p><br>
        {% for choice in question.choice_set.all %}
            <p></p>
            <input type="submit" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.choice_text }}">
            {% csrf_token %}
        {% endfor %}
</form>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if questions.has_previous %}
        <div align="center">
            <br><br>
            <input type="button" id="previous" onclick="location.href='?id={{ user }}&page={{ questions.previous_page_number }}'"
            value="<  Previous Question" > <p></p>
        {% endif %}
        </div>
        <br>
        <center>
        <span class="current">
            Question {{ questions.number }} of {{ questions.paginator.num_pages }}<br>
            <progress max="{{ questions.paginator.num_pages }}" value="{{ questions.number }}">
                <div>
                    <span>Progress: {{ questions.number }}*100/{{ questions.paginator.num_pages }}</span>
                </div>
            </progress>
        </span>
            </center>
    </span>
</div>
{% block endtest %}
{% endblock %}
<footer>
    <div class="outer">
        <div>
            {% load static %}
            <a href="http://collab.di.uniba.it/"><img src="{% static "miniipip/images/logo-collab.png" %}"
                                                      alt="logo-collab-footer" height="75px" width="200px"></a>
            <br><strong>Collaborative Development Group</strong><br><br>Department of Computer Science
            <br>University of Bari<br>Italy<br>
        </div>
        <div>
            <h2>Contact us</h2>
            <form action="mailto:collab-uniba@gmail.com?subject=Mini-IPIP test">
                <button class="btn-link" value="send-email" name="send-email" type="submit">Send an email</button>
                </form>
            <form onclick="location.href='/privacy'">
                <button class="btn btn-link" value="privacy" name="privacy" type="button">Site Privacy</button>
            </form>
        </div>
    </div>
</footer>
</html>